/* Home.module.css */

/* General styling for the search div */
.searchDiv,
.searchDivAfter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px; /* space between elements */
  transition: top 0.5s ease; /* Add transition for the 'top' property */
  padding-top: 1rem;
  width: 70vw;
}

/* Styling for the search input */
.searchInput {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgb(21, 125, 7);
  font-size: 16px;
  background-color: transparent;
  width: 100%;
}

/* Styling for the search and write buttons */
.searchSearchButton,
.searchWriteButton,
.searchProfileButton {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: rgb(21, 125, 7);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchSearchButtonGenerating {
  padding: 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  background-color: rgba(168, 168, 168, 0.5);
}

/* Initial state: centered vertically and horizontally */
.searchDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 70vw;
}

/* After search: positioned at the top */
.searchDivAfter {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 5rem;
}
.searchDivRow1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.searchDivRow2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.searchDivRow3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 70vw;
}
/* Search Area */
.searchResults {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 5rem;
  max-height: 70vh;
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 209, 11, 0.2) transparent;
}
.searchResults::-webkit-scrollbar {
  width: 5px;
}
.searchResults::-webkit-scrollbar-track {
  background: transparent;
}
.searchResults::-webkit-scrollbar-thumb {
  background-color: rgba(38, 209, 11, 0.2);
  border-radius: 20px;
  border: transparent;
}
.searchResult {
  display: flex;
  flex-direction: column;
  border: rgba(30, 255, 0, 0.153) 1px solid;
  padding: 1em;
}
.searchResult:hover {
  border: rgba(30, 255, 0, 0.5) 1px solid;
  color: rgb(30, 255, 0);
  cursor: pointer;
}

.searchResultUp {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.searchResultAuthor {
  color: rgb(30, 255, 0);
}
.nsfwSwitch {
  cursor: pointer;
}
.nsfwLabel {
  font-weight: bold;
}
.nsfwLabel:hover {
  color: rgb(30, 255, 0);
}
.tagsInput {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgb(21, 125, 7);
  font-size: 16px;
  background-color: transparent;
  width: 100%;
}

/* mobile style */
@media only screen and (max-width: 600px) {
  .searchDiv {
    width: 90vw;
  }
  .searchDivAfter {
    width: 90vw;
  }
  .searchInput {
    width: 100%;
  }
  .searchSearchButton {
    width: fit-content;
  }
  .searchWriteButton {
    width: fit-content;
  }
  .searchProfileButton {
    width: fit-content;
  }
  .searchResults {
    width: 90vw;
  }
  .searchDivRow2 {
    gap: 0.5em;
  }
}
