.threads {
  display: flex;
  flex-direction: row;
  max-height: 100%;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  width: 100%;
  flex: 1;
}
.threadLI {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(38, 209, 11, 0.2);
}
.threadLI:hover {
  background-color: rgba(38, 209, 11, 0.2);
  color: rgb(22, 203, 2);
}
.thread {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* overflow-y: scroll; */
  max-height: 100%;
  /* scrollbar */
  /* scrollbar-width: thin;
  scrollbar-color: rgba(38, 209, 11, 0.2) transparent; */
}
/* .thread::-webkit-scrollbar {
  width: 5px;
}
.thread::-webkit-scrollbar-track {
  background: transparent;
}
.thread::-webkit-scrollbar-thumb {
  background-color: rgba(38, 209, 11, 0.2);
  border-radius: 20px;
  border: transparent;
} */

.threadRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  max-height: 100%;
}
.threadInput {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid rgba(38, 209, 11, 0.2);
  outline: none;
  resize: none;
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(22, 203, 2);
  width: 50%;
  max-height: 10vh;
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 209, 11, 0.2) transparent;
}
.threadInput::-webkit-scrollbar {
  width: 5px;
}
.threadInput::-webkit-scrollbar-track {
  background: transparent;
}
.threadInput::-webkit-scrollbar-thumb {
  background-color: rgba(38, 209, 11, 0.2);
  border-radius: 20px;
  border: transparent;
}

.threadInputNoEdit {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid rgba(38, 209, 11, 0.2);
  outline: none;
  resize: none;
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(114, 114, 114);
  width: 50%;
  max-height: 10vh;
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 209, 11, 0.2) transparent;
}

.threadInputNoEdit::-webkit-scrollbar {
  width: 5px;
}
.threadInputNoEdit::-webkit-scrollbar-track {
  background: transparent;
}
.threadInputNoEdit::-webkit-scrollbar-thumb {
  background-color: rgba(38, 209, 11, 0.2);
  border-radius: 20px;
  border: transparent;
}

/* mobile */
@media (max-width: 768px) {
  .threads {
    flex-direction: column;
    gap: 1rem;
  }
  .threadLI {
    flex-direction: column;
    padding: 1rem;
  }
  .thread {
    flex: 1;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(38, 209, 11, 0.2) transparent;
  }
  .thread::-webkit-scrollbar {
    width: 5px;
  }
  .thread::-webkit-scrollbar-track {
    background: transparent;
  }
  .thread::-webkit-scrollbar-thumb {
    background-color: rgba(38, 209, 11, 0.2);
    border-radius: 20px;
    border: transparent;
  }
  .threadInput {
    width: 100%;
    max-height: 20vh;
    height: 20vh;
  }
  .threadInputNoEdit {
    width: 100%;
  }
}
