.button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(38, 209, 11, 0.2);
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(22, 203, 2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgba(38, 209, 11, 0.2);
}

.exit {
  border-radius: 0.5rem;
  border: 1px solid rgba(38, 209, 11, 0.2);
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: rgb(22, 203, 2);
  cursor: pointer;
  /* background-color: rgba(38, 209, 11, 0.2); */
  width: fit-content;
  padding: 0.2rem;
  position: relative;
  left: 0%;
  transform: translateX(-50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 1rem;
  background-color: #000000;
  border: 1px solid rgba(38, 209, 11, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 209, 11, 0.2) transparent;
}
.modal::-webkit-scrollbar {
  width: 5px;
}
.modal::-webkit-scrollbar-track {
  background: transparent;
}
.modal::-webkit-scrollbar-thumb {
  background-color: rgba(38, 209, 11, 0.2);
  border-radius: 20px;
  border: transparent;
}
.modalMedium {
  width: 50vw;
  height: 50vh;
}
.modalBig {
  width: 70vw;
  height: 70vh;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* mobile */
@media (max-width: 768px) {
  .modalMedium {
    width: 90vw;
    height: 90vh;
  }
  .modalBig {
    width: 100vw;
    height: 100vh;
  }
}
